<ion-tab-bar [selectedTab]="currentTab" slot="top" [ngStyle]="{ transform: tabBarTransform }" class="ion-tab-bar-top">
  <ion-tab-button (click)="navigateToTab('feed')">
    <ion-label>Feed</ion-label>
  </ion-tab-button>
  <ion-tab-button (click)="navigateToTab('ask-me')">
    <ion-label>Ask Me</ion-label>
  </ion-tab-button>
</ion-tab-bar>
<ion-content (ionScroll)="onScroll($event)" [scrollEvents]="true" [fullscreen]="true">
  @if(currentTab == 'ask-me') {
    <app-ask-me></app-ask-me>
  }
  @else {
    <app-feed></app-feed>
  }
 
  <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
</ion-content>