<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="medium" (click)="cancel()">Cancel</ion-button>
    </ion-buttons>
    <ion-title>Create Post</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
@if (isPageReady()) {
  <ion-content class="ion-padding">
    <form [formGroup]="form">
      <ion-input type="text" formControlName="title" label-placement="stacked" label="Title" placeholder="Your title"></ion-input>
      <ion-select formControlName="categories" aria-label="Categories" label-placement="stacked" placeholder="Select categories" [multiple]="true">
        @for (category of categories; track category) {
          <ion-select-option [value]="category.name">{{ category.label }}</ion-select-option>
        }
      </ion-select>
      <ion-textarea formControlName="content" auto-grow label-placement="stacked" label="Content" placeholder="Your content"></ion-textarea>
    </form>
  </ion-content>
}
