<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="home" (click)="close()"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ title }}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card [color]="post.category.color">
  <ion-card-header>
    <div>
      <ion-card-subtitle>Created by {{ post.anonymous ? 'Anonymous' : post.user.name }}</ion-card-subtitle>
      <ion-card-title>{{ post.title }}</ion-card-title>
    </div>
    <div class="div-card-avatar">
      <ion-avatar>
        <img alt="Avatar" [src]="post.anonymous ? 'assets/avatar/anonymous.webp' : 'assets/avatar/identified.webp'" />
      </ion-avatar>
    </div>
  </ion-card-header>
  <ion-card-content>
    {{ post.content }}
    <ion-buttons slot="start">
      <ion-button fill="outline" (click)="likePost(post)">
        <ion-icon slot="start" [name]="post.liked ? 'heart' : 'heart-outline'"></ion-icon>
        {{ post.actions.likes }}
      </ion-button>
      <ion-button fill="outline">
        <ion-icon slot="start" name="chatbox-outline"></ion-icon>
        {{ post.actions.comments }}
      </ion-button>
    </ion-buttons>
  </ion-card-content>
  <div class="divider"></div>
  <section class="section-comments">
    @for(comment of post.comments; track comment.id) {
      <div class="comment-item">
        <ion-chip outline="true">
          <ion-avatar>
            <img alt="Avatar" [src]="comment.anonymous ? 'assets/avatar/anonymous.webp' : 'assets/avatar/identified.webp'" />
          </ion-avatar>
          <ion-label>{{ comment.anonymous ? 'Anonymous' : comment.user.name }}</ion-label>
        </ion-chip>
        {{ comment.content }}
        <ion-buttons slot="secondary">
          <ion-button fill="outline" (click)="likeComment(comment)">
            <ion-icon slot="start" [name]="comment.liked ? 'heart' : 'heart-outline'"></ion-icon>
            {{ comment.likes }}
          </ion-button>
        </ion-buttons>
      </div>
    }
  </section>
</ion-card>
<ion-footer>
  <ion-button expand="full" fill="clear" (click)="comment()">Add a comment</ion-button>
</ion-footer>