ion-card {
    margin: 0;
    border-radius: 0;
    height: 100%;
    overflow-y: auto;

    ion-avatar {
        right: 25px;
        z-index: 2;
        top: 0;
        transform: scale(.8);
    }
}

ion-card-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ion-card-content {
    display: flex;
    flex-direction: column;
    gap: 16px;

}

ion-buttons ion-button {
    --border-width: 0;
}

ion-card-title {
    font-size: 1.25rem;
}

.div-card-avatar {
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.comment-item {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 16px 20px;
    border-top: 1px solid white;

    ion-chip {
        width: fit-content;
        --color: white;
        border: 1px solid white;
    }
}

ion-footer ion-button {
    margin: 0;
}